Source: ros-melodic-open-manipulator-with-tb3-msgs
Section: misc
Priority: extra
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-message-generation, ros-melodic-std-msgs
Homepage: http://wiki.ros.org/open_manipulator_with_tb3_msgs
Standards-Version: 3.9.2

Package: ros-melodic-open-manipulator-with-tb3-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-message-runtime, ros-melodic-std-msgs
Description: Messages and services package for OpenManipulator with TurtleBot3
